.timeline-item-marker {
  border-radius: 12px;
  background-color: whitesmoke;
  padding: 16px;
  border-right: lightslategray solid;
}

.timeline-item-content {
  margin-left: 64px;
  background-color: var(--timeline-item-content-background);
  border-radius: 12px;
  border-left: #10659c solid 2px;
}

.timeline-item-connector {
  background: linear-gradient(
    to right,
    var(--timeline-item-marker),
    var(--timeline-item-content-border)
  );
  height: 2px;
}

.header-full-width.site-header-layout-vertical .main-navigation {
  background-color: transparent;
}

/*Header changes didn'rt work responsive like I wanted to*/
.header-full-width.site-header-layout-vertical .main-navigation {
  background-color: transparent;
}
#site-navigation {
  margin-top: -100px;

  z-index: 999;
}

@media {
  #site-navigation {
    margin-top: -80px;
  }
}

@media {
  #site-navigation {
    margin-top: -280px;
  }
}
